<div style="width: 70%; height: 50px; margin-top: 1%; text-align: center; margin-left: auto; margin-right: auto;" class="text-light bg-dark rounded">
  <h1>CURSOS AUTENTIA</h1>
</div>
<div style="margin-top: 1%; position: relative" class = "container">
  <table style="text-align: center; width: 100%" class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>TÍTULO</th>
        <th>NIVEL</th>
        <th>HORAS</th>
        <th>PROFESOR</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses; index as i">
        <th scope="row">{{course.id}}</th>
        <td>{{course.title}}</td>
        <td>{{course.level}}</td>
        <td>{{course.hours}}</td>
        <td>{{course.teacher.name}}</td>
        <td>
          <button class="btn"><i class="material-icons" (click)="editCourse(course)">edit</i></button>
          <button class="btn"><i class="material-icons" (click)="deleteCourse(course)">delete_forever</i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <ul class="nav pills">
    <!-- FIRST PAGE BUTTON -->
    <li class="nav-item">
      <a class="nav-link active bg-dark text-light rounded" href="#" (click)="goToPage(0)">|<<</a>
    </li>
    <!-- PREVIOUS PAGE BUTTON -->
    <li class="nav-item" style="margin-left: 1px">
      <a class="nav-link active bg-dark text-light rounded" href="#" (click)="goToPage(actualPageNumber - 1)"><</a>
    </li>
    <li class="nav-item" style="margin-left: 1px" *ngFor="let p of pages; let i = index">
      <a class="nav-link active bg-dark text-light rounded-circle" [ngClass]="noActualPage" *ngIf="i != actualPageNumber; else actualPage" href="#" (click)="goToPage(i)">{{i + 1}}</a>
      <ng-template #noActualPage>
        <a class="nav-link active bg-dark text-light rounded-circle" href="#" (click)="goToPage(i)">{{i + 1}}</a>
      </ng-template>
      <ng-template #actualPage>
        <a class="nav-link disabled bg-primary text-light rounded-circle" href="#" (click)="goToPage(i)">{{i + 1}}</a>
      </ng-template>
    </li>
    <!-- NEXT PAGE BUTTON -->
    <li class="nav-item" style="margin-left: 1px">
      <a class="nav-link active bg-dark text-light rounded" href="#" (click)="goToPage(actualPageNumber + 1)">></a>
    </li>
    <!-- LAST PAGE BUTTON -->
    <li class="nav-item" style="margin-left: 1px">
      <a class="nav-link active bg-dark text-light rounded" href="#" (click)="goToPage(totalPages)">>>|</a>
    </li>
    <!-- SELECT ELEMENTS PER PAGE -->
    <li class="nav-item" style="margin-left: 1px">
      <label>
        <select class="custom-select">
          <option (click)="changePageSize(1)">1</option>
          <option selected (click)="changePageSize(5)">5</option>
          <option (click)="changePageSize(10)">10</option>
          <option (click)="changePageSize(15)">15</option>
          <option (click)="changePageSize(20)">20</option>
        </select>
      </label>
    </li>
    <li style="margin-left: 5px">
      <button type="button" class="btn btn-dark" (click)="openDialog()">NUEVO CURSO</button>
    </li>
  </ul>
</div>
