<div style="width: 70%; height: 50px; margin-top: 10px; text-align: center; margin-left: auto; margin-right: auto" class="text-light bg-dark rounded fixed-top">
  <h1>CURSOS AUTENTIA</h1>
  <!-- YOU ARE IN INFINITE_SCROLL BRANCH-->

  <!-- https://stackblitz.com/edit/waterlooblue-scroll-to-top?file=app%2Fapp.component.ts -->
  <!-- https://www.typescriptlang.org/docs/handbook/iterators-and-generators.html -->
  <!-- https://www.npmjs.com/package/ngx-infinite-scroll -->

</div>
<div class = "container">
  <table style="text-align: center; width: 100%; margin-top: 70px" class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>TÍTULO</th>
        <th>NIVEL</th>
        <th>HORAS</th>
        <th>PROFESOR</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses; index as i">
        <th scope="row">{{course.id}}</th>
        <td>{{course.title}}</td>
        <td>{{course.level}}</td>
        <td>{{course.hours}}</td>
        <td>{{course.teacher.name}}</td>
        <td>
          <button class="btn"><i class="material-icons" (click)="editCourse(course)">edit</i></button>
          <button class="btn"><i class="material-icons" (click)="deleteCourse(course)">delete_forever</i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
